version: '3'

services:

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:7.3.2
    environment:
      - cluster.name=poc-elastic-bulk-insert-query
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      # dev
      - discovery.type=single-node
      # disable non-free xpack security
      - xpack.security.enabled=false
      - xpack.watcher.enabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"

  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:7.3.2
    ports:
      - "5601:5601"
